
.expand_more {
  padding-top: 1.5%;
  margin-left: 2%;
}

.position-title {
  margin-top: -10px;
}

.work-date {
  font-family: 'Roboto Mono';
  font-size: .3em;
}

.work-section {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: -5px;
}

.work-desc {
  margin-bottom: 5px;
}
