
#home-container {
  // padding-top: 20%;
  // margin-bottom: 70px;
}

#home-name {
  font-size: 5em;
  font-family: 'Lobster';
}

#home-title {
  font-size: 2em;
}

@media screen and (max-width: 991px) {

}
