
body, html {
  font-family: 'Source Sans Pro', 'Roboto';
  line-height: 1.5;
}

#home-page {
  // height: 100vh;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.intro {
  // margin-top: 5%;
  margin-bottom: 10%;
}

.toggle-icons {
  margin-top: 25px;
}

.switch {
  margin-bottom: 16px;
}

.night {
  background-color: #2B2D42;
  color: #EEF4ED;
}

#light-toggle {
  margin-top: 20px;
  float: right;
}

.day {
  color: #2B2D42;
}

#home {
  margin-bottom: 20px;
}

#background {
  margin-bottom: 70px;
}

.jumbotron {
  height: 300px;
  margin-bottom: 0;
}

.parallax {
  /* The image used */
  background-image: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/06/20/104540684-GettyImages-530874379.1910x1000.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-section {
  margin-bottom: 70px;
}

.skills-container {
  margin-bottom: 50px;
}

.hideme {
  opacity: 0;
}

.title {
  color: #C10323;
  font-weight: 700;
  text-align: right;
  margin-right: 20px;
}

.section-header {
  font-weight: 700;
}

@media screen and (max-width: 485px) {
  #home-page {
    height: 100vh;
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 991px) {
  #home-page {
    height: 100vh;
    // margin-top: 40px;
  }

  .title {
    text-align: left;
  }

  .inner-section {
    margin-left: 20px;
  }
}


// @media screen and (max-width: 991px) {
//
// }
